.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 80px 200px;
    border-radius: 5px;
    width: 100%;
}

.calculator input[type="text"] {
    grid-column: span 4;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: right;
}

.calculator input[type="button"] {
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.calculator input[type="button"]:hover {
    background-color: #e6e6e6;
}

.calculator input[type="button"]:active {
    background-color: #d9d9d9;
}
